:root {
  --color-footer: #ffffff;
  --color-bg: #e6e6e6;
  --color-fg: #1e1e1e;
  --color-accent: #8664ff;
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size-sous-titre: 25px;
  --font-size-labeur: 20px;
  --line-height-labeur: 25px;
  --font-size-detail: 16px;
  --padding: 15px;
  @font-face {
    font-family: HomemadeApple-Regular;
    src: url(src/assets/fonts/HomemadeApple-Regular.woff2);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  position: relative;
  --bg-gradient: linear-gradient(
    to bottom,
    var(--color-bg) 60%,
    var(--color-accent) 91%
  );
  background: var(--bg-gradient);
  background-attachment: fixed;

  &:has(.show-page),
  &:has(.podcast-page) {
    --bg-gradient: linear-gradient(
      to bottom,
      var(--color-accent) 0%,
      var(--color-bg) 15%
    );
  }
}

.home-image {
  max-width: 100%;
  height: auto;
  position: fixed;
  z-index: -1;
}

footer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--color-footer) 45px,
    transparent 60px
  );

  & .footer-title {
    pointer-events: none;
    user-select: none;
    color: var(--color-footer);
    font-weight: 300;

    &.flou {
      position: absolute;
      bottom: 2.5rem;
      inset-inline: 0;

      --padding-top: 2.5vw;
      padding-top: var(
        --padding-top
      ); /* Pour laisser de l'espace au masque de flou */
      filter: blur(0.5vw);

      --mask-size: 60%;
      mask-image: linear-gradient(
        black 0,
        black calc(var(--mask-size) + var(--padding-top)),
        transparent 100%
      );
    }

    &.net {
      --mask-size: 50%;
      mask-image: linear-gradient(
        transparent 0,
        transparent var(--mask-size),
        black 100%
      );
    }

    /* Largeur du titre */
    text-fit: grow; /* Chrome */
    @supports not (text-fit: grow) {
      /* Solution alternative comme sur ton site, à tester sur différents environnements */
      font-size: 12.8vw;
    }

    /* Hauteur/Positionnement vertical du titre */
    text-box: trim-both cap alphabetic;
    @supports not (text-box: trim-both cap alphabetic) {
      /* Firefox */
      margin-bottom: -6.5vw;
    }
  }

  & nav.footer-navigation {
    display: flex;
    align-items: center;
    height: 45px;
    background: var(--color-footer);
    color: var(--color-accent);

    & ul.navigation-pages {
      flex-grow: 1;
      display: flex;
    }

    & a.active {
      pointer-events: none;
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    & img.navigation-logo {
      width: 50px;
      padding-left: var(--padding);
    }

    & .navigation-item {
      margin: 15px;
      font-size: var(--font-size-detail);
    }

    & a.navigation-about {
      padding-right: var(--padding);
    }
  }
}

main {
  flex-grow: 1;
  padding-bottom: 150px;
}

.list-page {
  & section.content-list {
    overflow-x: scroll;
    padding: var(--padding);
    display: flex;
    grid-column-gap: var(--padding);
    &::-webkit-scrollbar {
      display: none;
    }

    & .thumbnail {
      position: relative;
      flex-shrink: 0;
      &:has([data-orientation="landscape"]) {
        width: 45%;
      }
      &:has([data-orientation="portrait"]) {
        width: 30%;
      }

      & img.thumbnail-image {
        --mask-size: 15px;
        mask-image: linear-gradient(
          transparent 0,
          black var(--mask-size),
          black calc(100% - var(--mask-size)),
          transparent 100%
        );
      }

      & .thumbnail-title {
        font-family: var(--font-sans);
        font-weight: 400;
        font-style: oblique;
        font-size: var(--font-size-detail);
        & span.title-date {
          font-style: normal;
        }
      }
    }
  }
}

.item-page {
  & h1 {
    font-family: var(--font-sans);
    font-weight: 500;
    font-style: oblique;
    font-size: 50px;
    padding-left: var(--padding);
    margin-bottom: -15px;
  }

  & .page-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--padding);
    margin-bottom: 6rem;
  }

  & .page-left {
    & .synopsis {
      padding-left: var(--padding);
      padding-top: 5px;
      /*margin-bottom: 5vh;*/
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);

      /*dégradé dans texte*/
      display: inline-block;
      background: linear-gradient(
        to bottom,
        var(--color-fg) 50%,
        var(--color-accent) 70%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--padding);
      padding-left: var(--padding);
      padding-top: 60px;
      font-size: var(--font-size-detail);
      line-height: 18px;
      color: var(--color-accent);
    }

    & .infos,
    .production,
    .supports {
      margin-bottom: 30px;
    }

    & h2 {
      text-transform: uppercase;
    }
  }

  & .page-right {
    & .excerpt {
      font-family: var(--font-script);
      font-size: 17px;
      line-height: 26px;
      padding-left: var(--padding);
      padding-bottom: var(--padding);
      padding-right: var(--padding);
      white-space: pre-line;

      /*dégradé*/
      display: inline-block;
      background: linear-gradient(
        to bottom,
        var(--color-fg) 50%,
        var(--color-accent) 70%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .credits {
      padding-top: 45px;
      padding-right: var(--padding);
      text-align: center;
      font-size: var(--font-size-detail);
      line-height: 20px;
      color: var(--color-accent);

      & .credit-title {
        text-transform: uppercase;
        margin-top: 15px;
      }
    }
  }
}

.gallery {
  padding: var(--padding);
  position: fixed;
  z-index: 30;
  bottom: 3rem;
  display: flex;
  width: 100%;
  flex-shrink: 0;
  overflow-x: scroll;
  align-items: end;
  grid-column-gap: var(--padding);
  /*masque du texte qui dépasse sous frise d'image*/
  /*background: linear-gradient(
    to bottom,
    transparent,
    var(--color-bg) 5%,
    var(--color-bg) 45%,
    transparent 50%
  );*/

  /* no scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  & .gallery-item {
    height: 300px;
    --mask-size: 75px;
    mask-image: linear-gradient(
      transparent 0,
      black calc(var(--mask-size) / 4),
      black 70%,
      transparent 100%
    );
  }
}

.podcast-page {
  & .synopsis-podcast {
    padding-left: var(--padding);
    padding-top: 5px;
    /*margin-bottom: 5vh;*/
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);
    color: var(--color-fg);
  }

  & section.podcast-episodes {
    padding-left: var(--padding);
    padding-top: var(--padding);
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);
    color: var(--color-accent);

    /*dégradé dans texte*/
    display: inline-block;
    background: linear-gradient(
      to bottom,
      var(--color-fg) 30%,
      var(--color-accent) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & button.episode-trigger {
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    & span.episode-title {
      text-transform: uppercase;
    }
  }

  & section.audio:not(:has(audio[src])) {
    display: none;
  }
}

main.research-page {
  & h1 {
    color: var(--color-accent);
  }

  & .page-left {
    & .portable-text {
      padding-left: var(--padding);
      padding-top: 5px;
      /*margin-bottom: 5vh;*/
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);

      /*dégradé dans texte*/
      display: inline-block;
      background: linear-gradient(
        to bottom,
        var(--color-accent) 50%,
        var(--color-fg) 70%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  & .page-right {
    & .portable-text {
      padding-top: 5px;
      padding-right: var(--padding);
      padding-left: 30px;
      font-size: var(--font-size-detail);
      line-height: 20px;
      color: var(--color-accent);
    }

    & p {
      padding-bottom: 15px;
    }
  }
  & .excerpt {
    padding: var(--padding);
    padding-right: var(--padding);

    & h2 {
      font-size: var(--font-size-labeur);
    }

    & .research-excerpt {
      font-family: var(--font-sans);
      font-size: var(--font-size-labeur);
      & p:nth-child(even) {
        margin-left: 6rem;
      }
    }
  }
}

.portable-text {
  strong {
    font-weight: 400;
    color: var(--color-accent);
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }
}

section.contact {
  white-space: pre-line;
}

.video-player {
  flex-shrink: 0;
  display: block;
  height: 100%;
}

body:has(.gallery) .page-grid::after {
  content: "";
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  user-select: none;
  pointer-events: none;
  --footer-h: 3rem;
  --gallery-h: calc(300px + 1.75vw);
  --gradient-h: calc(var(--footer-h) + var(--gallery-h));
  background: linear-gradient(
    transparent 0,
    transparent calc(100% - var(--gradient-h)),
    var(--color-bg) calc(100% - var(--gradient-h) + 18.75px)
  );
}

main.calendar-page {
  display: flex;
  flex-direction: column;

  & h1 {
    color: var(--color-accent);
  }

  & .season-item {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: var(--padding);
    padding-left: var(--padding);
    padding-bottom: 30px;

    /*dégradé dans texte*/
    background: linear-gradient(
      to top,
      var(--color-fg) 80%,
      var(--color-accent) 95%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & .season-range {
      text-transform: uppercase;
      font-size: var(--font-size-sous-titre);
    }

    & .season-events {
      display: flex;
      flex-direction: column;
      gap: var(--padding);
      padding-top: 5px;

      & .event-item {
        & .event-title {
          text-transform: uppercase;
          font-size: var(--font-size-labeur);
          margin-bottom: -5px;
        }

        & .event-infos {
          font-family: var(--font-serif);
          font-size: var(--font-size-détail);
          margin-bottom: -5px;
        }

        & .event-project {
          font-family: var(--font-sans);
          font-style: oblique;
        }
      }
    }
  }
}

main.transmission-page {
  & h1 {
    color: var(--color-accent);
  }

  & .portable-text {
    padding-left: var(--padding);
    padding-right: 450px;
    padding-top: 5px;
    margin-bottom: 60px;
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);

    /*dégradé dans texte*/
    display: inline-block;
    background: linear-gradient(
      to bottom,
      var(--color-accent) 50%,
      var(--color-fg) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .season-item {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: var(--padding);
    padding-left: var(--padding);
    padding-bottom: 30px;

    & .season-range {
      text-transform: uppercase;
      font-size: var(--font-size-sous-titre);
    }

    & .season-events {
      display: flex;
      flex-direction: column;
      gap: var(--padding);
      padding-top: 5px;

      & .event-item {
        & .event-title {
          text-transform: uppercase;
          font-size: var(--font-size-labeur);
          margin-bottom: -5px;
        }

        & .event-infos {
          font-family: var(--font-serif);
          font-size: var(--font-size-détail);
          margin-bottom: -5px;
        }

        & .event-project {
          font-family: var(--font-sans);
          font-style: oblique;
        }
      }
    }
  }
}

main.company-page {
  & h1 {
    color: var(--color-accent);
  }

  & .page-left {
    padding-left: var(--padding);

    & .portable-text {
      padding-top: 5px;
      margin-bottom: 60px;
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);

      /*dégradé dans texte*/
      display: inline-block;
      background: linear-gradient(
        to bottom,
        var(--color-accent) 50%,
        var(--color-fg) 70%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    & .team-members {
      & h2 {
        font-family: var(--font-sans);
        font-weight: 500;
        font-style: oblique;
        font-size: 50px;
        text-transform: none;
      }

      & span.member-name {
        text-transform: uppercase;
        font-size: var(--font-size-sous-titre);
        line-height: 1.2;
      }

      & span.member-role {
        font-family: var(--font-sans);
        color: var(--color-accent);
      }
    }
  }

  & .page-right {
    padding-right: var(--padding);
    color: var(--color-accent);

    & .sous-titre {
      font-size: var(--font-size-labeur);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: var(--padding);
    }

    & .seasons {
      text-align: center;
      font-size: var(--font-size-detail);
      line-height: 20px;
      color: var(--color-accent);

      & h2 {
        text-transform: uppercase;
      }

      & .event-project {
        font-family: var(--font-sans);
        font-style: oblique;
      }
    }
  }

  .contact {
    & h2 {
      font-family: var(--font-sans);
      font-weight: 500;
      font-style: oblique;
      font-size: 50px;
      color: var(--color-fg);
      text-transform: none;
      margin-bottom: -15px;
    }

    & .contact-item {
      padding-top: 5px;
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
      padding-bottom: var(--padding);

      & .contact-title {
        text-transform: uppercase;
      }

      & .contact-email {
        text-decoration: underline;
      }
    }
  }

  .about-credits {
    text-align: center;
    font-size: var(--font-size-detail);
    line-height: 20px;
    color: var(--color-fg);
    padding-top: 45px;
    padding-right: var(--padding);

    & .credit-title {
      text-transform: uppercase;
      margin-top: 15px;
    }
  }

  & .pages {
    font-family: var(--font-sans);
    font-size: var(--font-size-labeur);
    font-style: oblique;
  }
}

main.legal-page {
  color: var(--color-accent);
  & .portable-text {
    padding-top: 5px;
    padding-left: var(--padding);
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);
    padding-bottom: var(--padding);

    & strong {
      text-transform: uppercase;
    }
  }
}

/*tentative pour régler la hauteur des images en gallery sur grand écran*/
/*@media (min-width: 1500px) {
  .gallery-item {
    height: 350px;
    --mask-size: 75px;
    mask-image: linear-gradient(
      transparent 0,
      black calc(var(--mask-size) / 4),
      black 70%,
      transparent 100%
    );
  }
}*/
