@import "./reset.css";
@import "./scroll-mask.css";

:root {
  font-family: var(--font-serif);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-footer: #ffffff;
  --color-bg: #e6e6e6;
  --color-fg: #1e1e1e;
  --color-accent: #8664ff;

  --font-size-detail: 14px;
  --font-size-menu: 16px;
  --font-size-labeur: 18px;
  --font-size-sous-titre: 20px;
  --font-size-titre: 45px;

  --line-height-detail: 17px;
  --line-height-labeur: 22px;

  --text-gradient-first-stop: 30dvh;
  --text-gradient-second-stop: 50dvh;

  @media (min-width: 48rem) {
    --font-size-detail: 16px;
    --font-size-menu: 18px;
    --font-size-labeur: 20px;
    --font-size-sous-titre: 25px;
    --font-size-titre: 50px;

    --line-height-detail: 20px;
    --line-height-labeur: 25px;
  }

  --p-max-w: auto;
  @media (min-width: 96rem) {
    --p-max-w: 75ch;
  }

  --padding: 15px;

  --footer-h: 45px;
  --gallery-img-h: 190px;
  @media (min-width: 48rem) {
    --gallery-img-h: 300px;
  }
  @media (min-width: 96rem) {
    --gallery-img-h: 350px;
  }
  --gallery-h: calc(var(--gallery-img-h) + var(--padding) * 2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

h1 {
  font-family: var(--font-sans);
  font-weight: 500;
  font-style: oblique;
  font-size: var(--font-size-titre);
}

.link {
  text-decoration: underline;
  text-underline-offset: 2px;
  display: inline-flex;
  gap: 5px;

  /* Si jamais tu veux styliser les liens internes différemment
  &.internal {

  } */
  &.external {
    color: var(--color-accent);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  position: relative;
  --bg-gradient: linear-gradient(
    to bottom,
    var(--color-bg) 60%,
    var(--color-accent) 91%
  );
  background: var(--bg-gradient);
  background-attachment: fixed;

  --text-gradient-top: var(--color-accent);
  --text-gradient-bottom: var(--color-fg);

  &:has(.show-page),
  &:has(.podcast-page),
  &:has(.gallery) {
    --text-gradient-top: var(--color-fg);
    --text-gradient-bottom: var(--color-accent);
    --bg-gradient: linear-gradient(
      to bottom,
      var(--color-accent) 0%,
      var(--color-bg) 15%
    );
  }
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

footer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--color-footer) 45px,
    transparent 60px
  );

  & .footer-title {
    pointer-events: none;
    user-select: none;
    color: var(--color-footer);
    font-weight: 300;

    &.flou {
      position: absolute;
      inset-inline: 0;
      filter: blur(0.5vw);

      --mask-size: 60%;
      mask-image: linear-gradient(
        black 0,
        black calc(var(--mask-size) + var(--padding-top)),
        transparent 100%
      );
    }

    &.net {
      --mask-size: 50%;
      mask-image: linear-gradient(
        transparent 0,
        transparent var(--mask-size),
        black 100%
      );
    }

    /* Largeur du titre */
    text-fit: grow; /* Chrome */
    @supports not (text-fit: grow) {
      /* Solution alternative comme sur ton site, à tester sur différents environnements */
      font-size: 12.8vw;
    }

    /* Hauteur/Positionnement vertical du titre */
    text-box: trim-both cap alphabetic;
    @supports not (text-box: trim-both cap alphabetic) {
      /* Firefox */
      margin-bottom: -6.5vw;
    }
  }

  & nav.footer-navigation {
    display: flex;
    align-items: center;
    height: var(--footer-h);
    background: var(--color-footer);
    color: var(--color-accent);
    gap: var(--padding);

    max-width: 100%;
    overflow: hidden;

    & > a:first-child {
      flex-shrink: 0;
      width: 50px;
      padding-left: var(--padding);
    }

    & ul.navigation-pages {
      flex-grow: 1;
      display: flex;
      gap: var(--padding);

      max-width: calc(
        100vw /* screen size */ - 50px /* logo width */ - var(--padding)
          /* gap */
      );
      overflow-x: scroll;
      padding-right: var(--padding);
    }

    & a.active {
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    & .navigation-item {
      padding-block: var(--padding);
      font-size: var(--font-size-menu);
      text-wrap: nowrap;

      &:last-child {
        flex-grow: 1;
        display: flex;
        justify-content: end;
      }
    }
  }
}

main {
  flex-grow: 1;
  padding-bottom: var(--gallery-h);
  padding-inline: var(--padding);

  &:not(:has(img)) {
    background: linear-gradient(
      to bottom,
      var(--text-gradient-top) var(--text-gradient-first-stop),
      var(--text-gradient-bottom) var(--text-gradient-second-stop)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.list-page {
  & section.content-list {
    position: relative;
    overflow-x: scroll;
    padding-block: var(--padding);
    display: flex;
    grid-column-gap: var(--padding);
    z-index: 30;
    &::-webkit-scrollbar {
      display: none;
    }

    & .thumbnail {
      position: relative;
      flex-shrink: 0;
      &:has([data-orientation="landscape"]) {
        width: 80%;
      }
      &:has([data-orientation="portrait"]) {
        width: 70%;
      }

      @media (min-width: 48rem) {
        &:has([data-orientation="landscape"]) {
          width: 45%;
        }
        &:has([data-orientation="portrait"]) {
          width: 30%;
        }
      }

      & img.thumbnail-image {
        --mask-size: 15px;
        mask-image: linear-gradient(
          transparent 0,
          black var(--mask-size),
          black calc(100% - var(--mask-size)),
          transparent 100%
        );
      }

      & .thumbnail-title {
        font-family: var(--font-sans);
        font-weight: 400;
        font-style: oblique;
        font-size: var(--font-size-detail);
        color: var(--color-fg);
        & span.title-date {
          font-style: normal;
        }
      }
    }
  }
}

.item-page {
  & h1 {
    margin-bottom: -15px;
  }

  & .page-grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 48rem) {
      grid-template-columns: 2fr 1fr;
    }
    column-gap: var(--padding);
    margin-bottom: 6rem;
  }

  & .page-left {
    & .synopsis,
    & .synopsis-podcast {
      padding-top: 5px;
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
    }

    & .details {
      padding-top: 40px;
      font-size: var(--font-size-detail);
      line-height: 16px;
      color: var(--color-accent);

      @media (min-width: 48rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--padding);
        padding-top: 60px;

        line-height: 18px;
      }

      & > div {
        max-width: var(--p-max-w);
      }
    }

    & .links {
      display: flex;
      flex-direction: column;
      gap: 12px;

      & .link-item-subtitle {
        padding-top: 0.25rem;
      }
    }

    & .event-infos {
      display: flex;
      flex-direction: column;
      line-height: 1.25;

      & .event-date {
        font-family: var(--font-sans);
        font-variant-numeric: oldstyle-nums;
        line-height: 1.3;
        font-size: 0.9em;
        font-variant-caps: all-small-caps;
      }
    }

    & h2 {
      font-variant-caps: all-small-caps;
      padding-bottom: 0.125rem;
    }
  }

  & .page-right {
    & .excerpt {
      font-family: var(--font-script);
      font-size: 20px;
      line-height: 25.5px;
      padding-top: 40px;
      white-space: pre-line;
      color: var(--color-accent);
      text-align: center;

      @media (min-width: 48rem) {
        padding-top: 0px;
        padding-bottom: 60px;
      }
    }

    & .credits {
      padding-top: 40px;
      text-align: center;
      font-size: var(--font-size-detail);
      line-height: var(--line-height-detail);
      color: var(--color-accent);

      @media (min-width: 48rem) {
        padding-top: 5px;
      }

      & .credit-title {
        text-transform: uppercase;
      }

      & .credit-value {
        margin-bottom: var(--padding);
      }
    }
  }
}

.gallery {
  padding: var(--padding);
  position: fixed;
  z-index: 30;
  bottom: 3rem;
  display: flex;
  width: 100%;
  flex-shrink: 0;
  overflow-x: scroll;
  align-items: end;
  grid-column-gap: var(--padding);

  /* no scrollbar */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  & .gallery-item {
    height: var(--gallery-img-h);
    --mask-size: 75px;
    mask-image: linear-gradient(
      transparent 0,
      black calc(var(--mask-size) / 4),
      black 70%,
      transparent 100%
    );
  }
}

.podcast-page {
  & section.podcast-episodes {
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);
    color: var(--color-accent);

    & button.episode-trigger {
      text-decoration: underline;
      text-underline-offset: 2px;
    }

    & span.episode-title {
      text-transform: uppercase;
    }
  }

  & section.audio:not(:has(audio[src])) {
    display: none;
  }
  & .audio {
    padding: var(--padding);

    & p {
      color: var(--color-accent);
      text-transform: uppercase;
    }

    & .audio-player {
      height: 20px;
    }
  }
}

main.research-page {
  & .page-left {
    & .portable-text {
      padding-top: 5px;
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
    }
  }

  & .page-right {
    & .portable-text {
      padding-top: 40px;
      font-size: var(--font-size-detail);
      line-height: 16px;
      color: var(--color-fg);

      @media (min-width: 48rem) {
        padding-top: 5px;
        line-height: 18px;
      }
    }

    & p {
      padding-bottom: 15px;
    }
  }
  & .excerpt {
    padding-inline: var(--padding);

    & h2 {
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
    }

    & .research-excerpt {
      font-family: var(--font-sans);
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
      & p:nth-child(even) {
        margin-left: 3rem;

        @media (min-width: 48rem) {
          margin-left: 6rem;
        }
      }
    }
  }
}

.portable-text {
  max-width: var(--p-max-w);
  strong {
    font-weight: 400;
    color: var(--color-accent);
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;

    &:hover,
    &:focus {
      color: var(--color-accent);
    }
  }
}

section.contact {
  white-space: pre-line;
}

.video-player {
  flex-shrink: 0;
  display: block;
  height: 100%;
}

body:has(.gallery) main::after {
  content: "";
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  user-select: none;
  pointer-events: none;

  --gradient-h: calc(var(--footer-h) + var(--gallery-h) - var(--padding));
  background: linear-gradient(
    transparent 0,
    transparent calc(100% - var(--gradient-h)),
    var(--color-bg) calc(100% - var(--gradient-h) + var(--padding))
  );
}

main.calendar-page {
  display: flex;
  flex-direction: column;
  padding-inline: var(--padding);
}

main.transmission-page {
  & .portable-text {
    padding-top: 5px;
    margin-bottom: 60px;
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);
  }
}

& .season-item {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  padding-top: 5px;
  grid-column-gap: 5px;
  padding-bottom: 30px;

  & .season-range {
    text-transform: uppercase;
    font-size: var(--font-size-labeur);
  }
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding);

  & .event-item {
    & .event-title {
      text-transform: uppercase;
      font-size: var(--font-size-labeur);
      margin-bottom: -5px;
    }

    & .event-infos {
      font-family: var(--font-serif);
      font-size: var(--font-size-détail);
      margin-bottom: -5px;
    }

    & .event-project {
      font-family: var(--font-sans);
      font-style: oblique;
    }
  }
}

@media (min-width: 48rem) {
  & .season-item {
    grid-template-columns: 1fr 7fr;
    padding-top: Opx;
    grid-column-gap: var(--padding);

    & .season-range {
      font-size: var(--font-size-sous-titre);
    }
  }
}

main.company-page {
  & .page-left {
    & .portable-text {
      padding-top: 10px;
      margin-bottom: 60px;
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
    }

    & .team-members {
      & h2 {
        font-family: var(--font-sans);
        font-weight: 500;
        font-style: oblique;
        font-size: var(--font-size-titre);
        text-transform: none;
        margin-bottom: -10px;

        @media (min-width: 48rem) {
          margin-bottom: -15px;
        }
      }

      & ul {
        padding-top: 10px;

        @media (min-width: 48rem) {
          padding-top: 15px;
        }
      }

      & .member-item {
        padding-bottom: 10px;
        line-height: 15px;

        @media (min-width: 48rem) {
          padding-bottom: 10px;
          line-height: 18px;
        }

        & span.member-name {
          text-transform: uppercase;
          font-size: var(--font-size-sous-titre);
        }

        & span.member-role {
          font-family: var(--font-sans);
          font-size: var(--font-size-menu);
          color: var(--color-accent);
        }
      }
    }
  }

  & .page-right {
    padding-top: 60px;
    color: var(--color-accent);

    @media (min-width: 48rem) {
      padding-top: 10px;
    }

    & .sous-titre {
      font-size: var(--font-size-labeur);
      text-transform: uppercase;
      text-align: center;
      padding-bottom: var(--padding);
    }

    & .seasons {
      text-align: center;
      font-size: var(--font-size-detail);
      line-height: 20px;
      color: var(--color-accent);

      & h2 {
        text-transform: uppercase;
      }

      & .event-project {
        font-family: var(--font-sans);
        font-style: oblique;
      }
    }
  }

  .contact {
    & h2 {
      font-family: var(--font-sans);
      font-weight: 500;
      font-style: oblique;
      font-size: var(--font-size-titre);
      color: var(--color-fg);
      text-transform: none;
      margin-bottom: -15px;
    }

    & .contact-item {
      padding-top: 5px;
      font-size: var(--font-size-labeur);
      line-height: var(--line-height-labeur);
      padding-bottom: var(--padding);

      & .contact-title {
        text-transform: uppercase;
      }

      & .contact-email {
        text-decoration: underline;
      }
    }
  }

  .about-credits {
    text-align: center;
    font-size: var(--font-size-detail);
    line-height: 20px;
    color: var(--color-fg);

    @media (min-width: 48rem) {
      padding-top: 45px;
    }

    & .credit-title {
      text-transform: uppercase;
      margin-top: 15px;
    }
  }

  & .pages {
    font-family: var(--font-sans);
    font-size: var(--font-size-labeur);
    font-style: oblique;
  }
}

main.legal-page {
  color: var(--color-accent);
  & .portable-text {
    padding-top: 5px;
    font-size: var(--font-size-labeur);
    line-height: var(--line-height-labeur);
    padding-bottom: var(--padding);

    & strong {
      text-transform: uppercase;
    }
  }
}

#neko-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  pointer-events: none;
  z-index: 9999;
}
#neko-sprite {
  --neko-size: 32px;
  @media (min-width: 768px) {
    --neko-size: 38px;
  }
  position: absolute;
  width: var(--neko-size);
  height: var(--neko-size);
  transform: translate(-50%, -50%);
}
